body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
  background-color: white;
}

h2 {
  text-align: center;
  color: #3366cc;
  font-size: 22px;
  margin-bottom: 25px;
}

.gallery {
  width: 850px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px 140px 140px;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 0 4px gray;
}

.img1 {
  grid-row: span 2;
}

.img2 {
  grid-column: span 2;
}

.img6 {
  grid-row: span 2;
}

.img7 {
  grid-column: span 2;
}
